@import url('https://fonts.googleapis.com/css2?family=Butcherman&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
}

body {
    background-color: black;
    color: white;
}

/* left box decoration  */
.left {
    width: 25vw;
}

/* right box decoration */
.right {
    width: 75vw;
    position: relative;
}

.left {
    padding: 10px;
}

.library {
    min-height: 80vh;
    position: relative;
}

/* left home section start */
.home ul li {
    width: 14px;
    list-style: none;
    display: flex;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;
}

/* Library part is going on. */
.heading {
    width: 100%;
    list-style: none;
    display: flex;
    gap: 15px;
    font-weight: bold;
    align-items: center;
    font-size: 10px;
}

.heading img {
    width: 20px;
}

.footer {
    display: flex;
    font-size: 10px;
    /* color: white; */
    gap: 15px;
    flex-wrap: wrap;
    position: absolute;
    bottom: 12px;

}

.footer a {
    color: grey;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.right {
    margin: 16px 0;
    max-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(59, 59, 59);
    height: 72px;
    /* padding:0 10px; */
}

.header>* {
    padding: 20px;
}

.cardcontainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
    overflow-y: auto;
    max-height: 70vh;
}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    position: relative;
}

.card>* {
    padding-top: 3px;
}

.card img {
    width: 100%;
    object-fit: contain;
    border-radius: inherit;
}

.circleadjusment {
    background-color: green;
    padding: 10px;
}

.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 88px;
    right: 17px;
    opacity: 0;
    transition: all 1s ease-out;
}

.card:hover .play {
    opacity: 1;
    bottom: 98px;
}

.card:hover {
    background-color: rgba(59, 59, 59, 0.336);
}

.spotifyPlaylist h1 {
    font-size: large;
    display: inline-block;
    width: 140px;
    margin: 12px 16px;
}

.singupbtn {
    background-color: black;
    color: rgb(184, 184, 184);
    font-weight: bold;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
}

.buttons>* {
    margin: 0 8px;

}

.singupbtn:hover {
    font-size: 1.1rem;
    color: white;
    font-size: 17px;
}

.loginbtn {
    background-color: white;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 9px;
    width: 70px;
    cursor: pointer;
}

.loginbtn:hover {
    font-weight: bold;
}

.playbar {
    position: fixed;
    background-color: rgb(208, 201, 201);
    border-radius: 20px;
    width: 70vw;
    /* margin:auto; */
    padding: 12px;
    bottom: 30px;
    right: 10px;
    filter: invert(1);
    height: 49px;
}

.songsbutton {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.songslist {
    margin: 13px 0 44px 0;
    height: 470px;
    overflow: auto;
}

.songslist ul {
    padding: 0 12px;
    margin: 28px 0px;
}

.songslist ul li {
    /* list-style-type: decimal; */
    list-style: none;
    display: flex;
    gap: 10px;
    cursor: pointer;
    padding: 12px 8px;
    border: 1px solid white;
    margin: 12px 0;
    border-radius: 12px;
    justify-content: space-between;

}

.playNow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.songslist .info {
    width: 344px;
    font-size: 13px;
}

.playNow span {
    font-size: 10px;
    width: 50px;
    padding: 12px;
}

.seekbar {
    width: inherit;
    height: 4px;
    /* display: flex; */
    border-radius: inherit;
    background-color: black;
    position: absolute;
    bottom: 12px;
    cursor: pointer;
}

.hamburger {
    display: none;
}

 .hamburgerContainer {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 13px;
 }


.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 5.6px;
    left: 0%;
    transition: left 300ms;
}

.songsbutton img {
    cursor: pointer;
}

.abovebar {
    display: flex;
    justify-content: space-between;
}

.songtitle,
.songtime {
    color: black;
}

.logo img {
    width: 100px;
}

.seekbarcover {
    background-color: rgb(145, 0, 155);
    width: 0;
    transition: width 300ms;
    height: inherit;
    position: absolute;
}

@media screen and (max-width:1400px) {
    .left {
        position: absolute;
        left: -100%;
        transition: all .3s;
        z-index: 3;
        width: 433px;
        background-color: black;
    }

    .right {
        width: 100vw;
    }

    .playbar {
        width: 95vw;
    }

    .songsbutton {
        display: inline-flex;
    }

    .hamburger {
        display: block;
        width: 30px;
        height: 30px;
    }

}